.scroll-450 {
  height: 450px;
  overflow-y: auto;
}
.textRed {
	background: red;
}
.deleted {
	background: red;
}

.legend {
	float: left;
	margin-left: 15px;
	margin-top: 110px;
}
.legend svg {
	margin-top: 10px;
}
.legend label {
	vertical-align: 50%;
	margin-left: 6px;
}

.logoHeader {
	overflow: auto;
	/*margin-left: -150px;*/
}
.logoHeader img {
  float: left;
  width: 75px;
  height: 40px;
  margin-top: 17px;
}

.logoHeader h1 {
	width: 220px;
  float: left;
}

/*html {
     Size of largest container or bigger 
    min-width: 1080px;
}*/
.container {
	min-width: 1200px;
/*	margin-left: 50px;
	margin-right: 50px;*/
	margin-left: auto;
	margin-right: auto;
}

.row {
	margin-top: 20px;
}