

<template name="files">

  <div class="container">
      <div class="logoHeader">
        <h1>File Snitcher</h1>
        <img src="/pointing.jpeg">
      

        <div class="legend">
          <svg width="30" height="30">
            <rect width="30" height="30" style="fill:green"/> 
            Sorry, your browser does not support inline SVG.  
            </svg> <label>Added</label>
          <svg width="30" height="30">
            <rect width="30" height="30" style="fill:yellow"/> 
            Sorry, your browser does not support inline SVG.  
            </svg> <label>Changed</label>
          <svg width="30" height="30">
            <rect width="30" height="30" style="fill:red"/> 
            Sorry, your browser does not support inline SVG.  
            </svg> <label>Deleted</label>
          <svg width="30" height="30">
            <rect width="30" height="30" style="fill:lightblue"/> 
            Sorry, your browser does not support inline SVG.  
            </svg> <label>Recreated</label>       
        </div>
      </div>  
    <!-- TODO- enhance to pass desired watch directory to server-->
    <div class="watching">
      <h3>Watching Folder:</h3>
      <!-- TODO: get initial value from server? -->
      <input class='folderLoc' type='text'> <!-- value='/tmp2'>--> <!--value={{watchLoc.val}}> -->
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-condensed table-striped">
          <thead>
            <tr data-tooltip="TOOL TIP!">
              <th class="col-md-3">Path</th>
              <th class="col-md-2">Created On</th>
              <th class="col-md-2">Modified On</th>
              <th class="col-md-2">Deleted On</th>
              <th class="col-md-2">Users Logged In</th>
            </tr>
          </thead>
          <tbody>
            {{#each files}}
              <tr class="status" style="background-color:{{getStatusColor this}}">
                <td>
                 {{#if isDir type}}
                    <img src='/folder_sm2.jpg' height='15' width='20'> 
                  {{/if}}
                  {{_id}}
                </td>                
                <td>{{simpleDate created_on}}</td>
                <td>{{simpleDate modified_on}}</td>
                <td>{{simpleDate deleted}}</td>
                <td>{{displayUsers this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- This isn't working?? 
<p>
  <button data-tooltip="I'm a tooltip!">Tooltip test</button>
</p>
  {{ > tooltips }}
-->
</template>
