

<template name="files">
  <div class="header">
    <div class="logoHeader">
      <h1>File Snitcher</h1>
      <a href='https://github.com/esoyke/file-snitcher'><img src="/pointingTrans.png"></a>
    
      <div class="legend">
        <svg width="30" height="30">
          <rect width="30" height="30" style="fill:green"/> 
          Sorry, your browser does not support inline SVG.  
          </svg> <label>Added</label>
        <svg width="30" height="30">
          <rect width="30" height="30" style="fill:yellow"/> 
          Sorry, your browser does not support inline SVG.  
          </svg> <label>Changed</label>
        <svg width="30" height="30">
          <rect width="30" height="30" style="fill:red"/> 
          Sorry, your browser does not support inline SVG.  
          </svg> <label>Deleted</label>
        <svg width="30" height="30">
          <rect width="30" height="30" style="fill:lightblue"/> 
          Sorry, your browser does not support inline SVG.  
          </svg> <label>Recreated</label>       
      </div>
    </div>  

    <div class="infoEntry">
      <div class="block watching">
        <h3>Watch:</h3>
        <input class='folderLoc' type='text'>
        {{#each watching}}
          <label class='badge badgeWatch'>{{location}}</label>
        {{/each}}
      </div>
      
      <div class="block ignoring">
        <div class="row">
          <h3 class="floatLeft">Ignore:</h3>
          <h6 class="floatRight">(<a href='https://github.com/esoyke/file-snitcher#usage'>usage</a>)</h6>
        </div>
        <input class='ignoreFolderLoc' type='text'> 
        {{#each ignores}}
          <label class='ignoreLocation badge badgeIgnore' >{{location}}</label>
        {{/each}}
      </div>
    </div>
  </div>
  
  <div class="container">      


    <div class="row fileList">
      <div class="col-md-12">
        <table class="table table-condensed table-striped">
          <thead>
            <tr data-tooltip="TOOL TIP!">
              <th class="col-md-3">Path</th>
              <th class="col-md-2">Created/Modified On</th>
              <th class="col-md-2">Deleted On</th>
              <th class="col-md-2">Users Logged In</th>
            </tr>
          </thead>
          <tbody>
            {{#each files}}
              <tr class="status" style="background-color:{{getStatusColor this}}">
                <td>
                 {{#if isDir type}}
                    <img src='/folder_sm2.jpg' height='15' width='20'> 
                  {{/if}}
                  {{_id}}
                </td>                
                <td>{{simpleDate modified_on}}</td>
                <td>{{simpleDate deleted}}</td>
                <td>{{displayUsers this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- This isn't working?? 
<p>
  <button data-tooltip="I'm a tooltip!">Tooltip test</button>
</p>
  {{ > tooltips }}
-->
</template>
